<h1>Frameworks</h1>
<p>Frameworks são bibliotécas que unem códigos comuns entre vários projetos de software provendo uma funcionalidade genérica.</p>
<h3>Importancia:</h3>
<p>Tem grande importancia para a agilização do codigo e possibilita a produção de um sistema maior em menos tempo.</p>
</div>