<h1>Versionamento de código</h1>

<h3>Principais ferramentas de versionamento:</h3>

<p>Subversion, Git e Mercurial.</p>
<br>
<h3>Importancia do versionamnto de código:</h3>
<p>É necessario que haja um bom versionamento para facilitar na correção de erros e possiveis bugs que levariam tempo de mais para serem encerrados.</p>