<h1>MVC</h1>
<p>
	Model-View-Controller é um padrão de arquitetura de software que possibilita a divisão do projeto em camadas bem definidas. São elas :
</p>
<br>
<b>Model<b>
<p>
	
</p>
<br>
<b>View<b>
<p>
	É toda a parte visual a ser mostrada ao usuário.
</p>
<br>
<b>Controller<b>
<p>
	
</p>
<br>

<h3>Classe DAO do Java no MVC</h3>
<p>Ela se encaixa na camada Model, pois é responsável pela interação com o banco de dados baseando-se em uma classe vinda do Domain.</p>
<br>

<h3>Frameworks Javascript</h3>
<p>JQuery, AngularJS, VueJS, ReactJS e EmberJS.</p>

<br>

<h3>ORM</h3>
<p>
	Object Relational Mapper(Objeto de Mapeamento Relacional) é um framework ou um cnjunto de classes que permite a recuperação de dados apartir de um banco de dados sem que haja a necessidade de digitar uma linha de código de conexão ou uma linha de query de SQL.
</p>
<p>java: Hibernate</p>
<p>Ruby on Rails: Active Record</p>